footer {
    margin-top: 2rem;
    color: var(--clr-hl1);
    background-color: var(--clr-pri1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 2rem;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 14pt;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

footer a {
    color: var(--clr-hl1);
}

li > *,
li > a > * {
    display: inline-block;
}

footer img {
    background-color: white;
    padding: 0.15rem
}

@media (min-width: 400px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: start;
        gap: 1rem;
    }
    footer > div {
        align-items: start;
    }
    ul {
        align-items: start;
    }
  }

  @media (min-width: 780px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
    }
  }