.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-pri1);
    --img-w: 16rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.hero-left h1 {
    color: var(--clr-pri2)
}

.hero-left h2 {
    color: var(--clr-hl1)
}

.hero-left p {
    color: var(--clr-hl1);
    max-width: 30ch;
}

.hero-right img {
    width: var(--img-w);
    border-radius: var(--br);
}

@media (min-width: 760px) {
    .hero {
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-start;
        margin-bottom: 5rem;
        --img-w: 18rem;
    }

    .hero-left {
        align-items: start;
        text-align: start;
    }

    .hero-right {
        position: relative;
        width: var(--img-w);
    }

    .hero-right img {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 960px) {
    .hero {
        --img-w: 20rem;
    }
}
