nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
}

nav>img {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

nav>ul {
    grid-row: 2;
    grid-column: 1;
    display: none;
    flex-direction: column;
}

nav>ul.expanded {
    display: flex;
    position: absolute;
    top: 92px;
    width: 50%;
    /* z-index: 0; */
    background-color: var(--clr-hl1);
}

nav>button {
    justify-self: start;
    background: none;
    border: none;
}

nav a {
    display: block;
    padding: 1rem;
    color: var(--clr-pri1);
    font-weight: var(--fw-bold);
    border: 0;
    border-radius: 0;
    background-color: transparent;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--clr-pri2);
}

@media (min-width: 960px) {

    nav {
        grid-template-columns: auto auto;
        padding-inline: 4rem;
    }

    nav>img {
        grid-column: 1;
        justify-self: start;
    }

    nav>button {
        display: none;
    }

    nav ul {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}