:root {
  --clr-pri1: #495E57;
  --clr-pri2: #F4CE14;
  --clr-sec1: #EE9972;
  --clr-sec2: #FBDABB;
  --clr-hl1: #EDEFEE;
  --clr-hl2: #333333;
  --clr-err: hsl(0, 100%, 40%);
  /* Border radius */
  --br: 16px;
  --br-05: 8px;
  /* Fonts */
  --ff-1: Markazi;
  --ff-2: Karla, sans-serif;
  --fs-h1: 64pt;
  --fs-h2: 40pt;
  --fs-h3: 28pt;
  --fs-cta: 18pt;
  --fs-section: 18pt;
  --fs-specials: 16pt;
  --fs-card: 18pt;
  --fs-p: 16pt;
  --fw-extra-bold: 800;
  --fw-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --desktop-min: 960px;
  --p-main-section: 4rem 8rem;
  --p-main-section-mobile: 2rem 4vw;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1280px;
  margin-inline: auto;
  font-family: var(--ff-2);
}

h1, h2, h3 {
  font-family: var(--ff-1);
  font-weight: var(--fw-medium);
}

/* Display title, Markazi Text, Medium 64pt */
h1 {
  font-size: var(--fs-h1);
}

/* Sub title, Markazi Text, Regular 40pt */
h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* Lead text, CTA, Karla, Medium 18pt */
.cta-text {
  font-size: var(--fs-cta);
  font-weight: var(--fw-medium);
}

/* Section title, uppercase, Karla, 20pt Extra bold */
.section-title {
  text-transform: uppercase;
  font-size: var(--fs-section);
  font-weight: var(--fw-extra-bold);
}

/* Card title, Karla, 18pt Bold */
.card-title {
  font-size: var(--fs-card);
  font-weight: var(--fw-bold);
}

/* Paragraph text, Karla, regular 16pt, 1.5 line height, max 65ch */
p {
  line-height: 1.5;
  font-size: calc(var(--fs-p) - 2pt);
  font-weight: var(--fw-regular);
  max-width: 65ch
}

a {
  color: black;
  text-decoration: none;
}

button,
input,
select,
label {
  padding: 0.5rem;
  color: var(--clr-hl2);
  font-weight: var(--fw-bold);
  transition: background-color 0.1s;
}

button, .btn,
input,
select {
  background-color: var(--clr-hl1);
  border: 2px solid var(--clr-pri1);
  border-radius: var(--br-05);
}

button, .btn {
  max-width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: var(--br);
  color: var(--clr-pri1);
  background-color: var(--clr-hl1);
}

button:hover, .btn:hover {
  background-color: var(--clr-pri2);
  cursor: pointer;
}

button:disabled, .btn:disabled {
  color: #888888;
  background-color: var(--clr-hl1);
  border-color: var(--clr-hl1);
  cursor: not-allowed;
}

.btn-alt {
  color: var(--clr-hl2);
  background-color: var(--clr-pri2);
}
.btn-alt:hover {
  background-color: var(--clr-sec1);
}

li {
  list-style-type: none;
}

section {
  padding: var(--p-main-section-mobile);
  /* margin-bottom: 2rem; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

form > .form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field > p {
  font-size: 10pt;
  color: var(--clr-err);
}

form button {
  font-size: large;
}

@media (min-width: 960px) {
  p {
    font-size: var(--fs-p);
  }
  section {
    padding: var(--p-main-section);
  }
}